<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cadastre-me!{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <!-- JS -->
    <script src="{% static 'js/main.js' %}" defer></script>
</head>

<body>
    <!-- Acessibilidade -->
    <a href="#conteudo-principal" class="skip-link">Ir para o conteúdo principal</a>

    <!-- Botões do topo -->
    <div class="top-buttons">
        <button onclick="toggleContraste()" class="btn-contraste">Alto Contraste</button>
        <button onclick="toggleDarkMode()" class="btn-dark">☾ Tema Dark</button>
    </div>

    <header>
        <h1 class="titulo">CADASTRE-ME!</h1>
    </header>

    <main id="conteudo-principal">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
