<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cadastre-me!{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

<body class="dark">

    <!-- Acessibilidade -->
    <a href="#conteudo-principal" class="skip-link">Ir para o conteúdo principal</a>

    <header>
        <h1 class="titulo">CADASTRE-ME!</h1>
    </header>

    <main id="conteudo-principal">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
